@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    background-image:url("images/background.jpg");
    background-size: 100%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;

}

h1{
    color:white;
    font-size: 40px;
    text-shadow:
		-1px -1px 0 black,
		1px -1px 0  black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

button:hover{
    background-image: url("images/rainbow.gif");
}

#formButton:hover{
    background-image: url("images/rainbow.gif");
}
